Nalwald
Nalwald-modern
perf.data
callgrind.out.*
profile_results.txt
.vscode
massif.out
*.profraw
*.profdata
*.log
*.epd
!parameterOptimization/zuriQuietSet.epd
optimization
txt.txt
vgcore.*
*ptimizationResult*