Nalwald*
!Nalwald.nim
!Nalwald.nims
perf.data*
callgrind.out.*
profile_results.txt
.vscode
.metals
massif.out
*.profraw
*.profdata
*.log
*.epd
*.epd.backup
*.fen
!res/openings/10ply-openings.epd
!res/openings/blitzTesting-4moves-openings.epd
!Pohl.epd
!res/openings/DFRC_small.epd
optimization
*.txt
vgcore.*
*ptimizationResult*
network_*.json
game
removeNonQuietPositions
generatePositions
labelPositions
generateSmallerSet
calculatePieceValue
mergeDuplicateAndSelectFENs
processStuff.nim
mergeDuplicateAndSelect
*.pgn
logo_backup.jpg
logo_alt.svg
tests
generateTrainingData
trainingSet*.bin*
showMeSomePositions
weather-factory
res/pgn-extract
src/tuning/dataFromPGNsWorkDir

bin
res/data
res/params/*
!res/params/default.bin
trainingSet_*.bin
perf.data*
src/testing/workdir
src/tuning/weather-factory
res/trainingSets
res/pgns
src/testing/benchWorkdir
cleanUpTrainingData.nim
cleanUpTrainingData2.nim
src/testing/sprtWorkdir

# TODO clean this file up
