Nalwald*
!Nalwald.nim
!Nalwald.nims
perf.data
callgrind.out.*
profile_results.txt
.vscode
massif.out
*.profraw
*.profdata
*.log
*.epd
!parameterOptimization/quietSetZuri.epd
!parameterOptimization/quietSetNalwald.epd
!parameterOptimization/blitzTesting-4moves-openings.epd
optimization
*.txt
*.sh
vgcore.*
*ptimizationResult*
game
genFenList.py
removeNonQuietPositions
generatePositions
labelPositions
generateSmallerSet
calculatePieceValue